* {
    font-family: monospace, sans-serif;
}

html,
body {
    overflow-x: hidden;
    color: wheat;
}

.navbar-toggler span {
    background-color: #be9eb99c;
}

body {
    background: #250821;
    overflow-x: hidden;
}


/******************** Navbar ********************/
/**************************************************/

.navbar {
    height: 4rem;
    position: fixed;
    min-width: 100%;
    z-index: 9999;
    background: #49018c6d;
    backdrop-filter: blur(15px);
}

.navbar-nav {
    min-width: 100%;
}

.nav-link,
.navbar-brand {
    color: rgba(255, 255, 255, 0.508) !important;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#icon-navbar {
    max-width: 50px;
    opacity: 70%;
}

.change-text {
    color: #b353a6;
}

.navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

/******************** Main ********************/
/**************************************************/

.box-1 {
    min-height: 100vh;
}

.main-content {
    padding: 15px;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.box-texto .parrafo {
    font-size: medium;
    letter-spacing: 1px;
}


.col-right img {
    z-index: 20;
    max-height: 35vh;
}


/******************** Banner ********************/
/**************************************************/

.box-icons-skills .fa-brands {
    font-size: 2.5em;
}

.title-site-technologies {
    margin-bottom: 2rem;
}

.box-icons-skills i {
    margin: 0 2vh;
}


.box-skills {
    background: linear-gradient(to left, violet, blueviolet, indigo);
    text-shadow: 2px 5px 15px black;
}


/******************** Projects ********************/
/**************************************************/

.box-projects {
    min-height: 100vh;
}

.mypage {
    height: 30vh;
    width: 50vh;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.gym {
    background-image: url(img/gym-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.quilmes {
    background-image: url(img/quilmes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;

}

.gif-app {
    background-image: url(img/giff-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.chrome-extension-app {
    background-image: url(img/chrome-extension-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.bg-effect {
    background-color: rgba(0, 0, 0, 0.600);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transition: all ease-in-out .5s;
    border-radius: 15px;
    opacity: 0;
}

.bg-effect:hover {
    opacity: 1;
}

.bg-effect a {
    text-decoration: none;
}

.bg-effect .bi {
    font-size: x-large;
    color: wheat;
    font-family: monospace;
    font-style: normal;
}

.bg-effect .bi:hover {
    font-size: xx-large;
    color: whitesmoke;
}



@keyframes mover {

    50% {
        transform: translateX(1em);
    }

}

@media (max-width: 768px) {

    .box-texto {
        text-align: center;
    }

    .box-skills {
        margin-top: 25rem;
    }


}

@media (max-width: 1200px) {
    .box-texto .parrafo {
        font-size: small;
    }
}


@media (max-width: 990px) {
    .navbar-nav {
        padding: 25px;
        margin-top: 15px;
        background-color: rgba(0, 0, 0, 0.913);
        border-radius: 8px;

    }

    .navbar-nav li {
        border: .5px solid rgba(255, 255, 255, 0.369);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: 5px;
    }

    .navbar-nav li:hover {
        cursor: pointer;
    }

    .nav-link {
        color: rgba(245, 245, 245, 0.813) !important;
    }

    .col-right img {
        z-index: 20;
        max-height: 25vh;
    }

    .box-texto h1,
    span {
        font-size: xx-large !important;
    }

   
}

.skill-section {
    color: wheat;
    background-color: whitesmoke;
}

.box-left {
    border-radius: 15px;
    max-height: 80vh;
}

.box-gif {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
}

.box-gif img {
    padding: 15px;
    width: auto;
    max-width: 38vb;
    clip-path: circle(40% at 50%);
    margin: 25px;
}

.btn-contact {
    background: linear-gradient(to bottom, pink, blueviolet, indigo);
    border: none;
    border-style: none;
}

.btn-contact a {
    text-decoration: none;
    color: white;
}

.btn-contact:hover {
    background: linear-gradient(to top, pink, blueviolet, indigo);
    box-shadow: 0px  0px  1px 0px wheat;
}

.soft-skill-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}

.soft-skill-section {
    display: flex;
    justify-content: center;
}

.box-projects {
    background-color: rgba(71, 37, 103, 0.522);
}

/* barras */


.col-title {
    background: rgba(0, 0, 0, 0.400);
    min-height: 100%;

    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 5px;
    user-select: none;
    overflow: hidden;
    /* elimina seleccion/edición de texto */
}

.left-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left-title h4 {
    font-weight: 800;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    animation: move-left-title 6s linear infinite;
}


.right-title h4 {
    font-weight: 800;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10px;
    animation: move-right-title 6s linear infinite;
}

@keyframes move-left-title {
    0% {
        transform: translateY(500%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes move-right-title {
    0% {
        transform: translateY(-500%);
    }

    100% {
        transform: translateY(100%);
    }
}

.row-top {
    letter-spacing: 5px;
    user-select: none;
    min-height: 2rem;
    background: rgba(0, 0, 0, 0.400);
}


.row-bottom {
    letter-spacing: 5px;
    user-select: none;
    min-height: 2rem;
    background: rgba(0, 0, 0, 0.400);
    animation: move-top-bottom-title 6s linear infinite;
}


.col-right {
    filter: drop-shadow(0 0 2rem blueviolet);
}

.box-icon-skills {
    min-height: 45vh;
}


.icons-skill {
    padding: 8px;
    max-width: 10vh;
    width: auto;
}

.section-title {
    position: relative;
    margin: 4rem;

}

.section-title {
    font-family: serif;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: -15px;
    left: 15px;
}

#photo-aboutme {
    width: 100%;
    max-width: 200px;
    border-radius: 10%;
    margin: 50px;
    opacity: 70%;
}


.bi-arrow-up-circle-fill {
    display: none;
    background-color: transparent;
    border: 0;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 40px;
    color: blueviolet;
    cursor: pointer;
}

.bi-arrow-up-circle-fill:hover {
    color: rgb(202, 155, 246);
}


.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4bcd9b, #3f5cb3);
    height: 8vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    transform: rotate(-0.7deg);
    transform-origin: top left;
    font-size: 122px !important;
    box-shadow: 0 0 100px 0 #3498db;

}
.banner-box h1 {
    font-weight: 900;
    letter-spacing: .5rem;
}
.colmena {
    position: absolute;
    opacity: 0.2;
    max-height: 15vw;
}


